body
{
    margin: 0;
    padding: 0;

    background-color: black;
    color: rgb(255, 255, 255);

    overflow-x: hidden;
    position: relative;
}

/* ########################### */
/* Background Layers */
/* ########################### */

._Background_Layer_0
{
    position: fixed;    top: 0; left: 0;
    width: 100%;    height: 100%;

    background-image: url("Background/Space_0.png");
    background-repeat: repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: 50vw;

    z-index: -99999;    opacity: 0.5;

    animation: _Animation_Background_Scroll 240s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
}

._Background_Layer_1 {
    position: fixed;    top: 0; left: 0;
    width: 100%;    height: 100%;

    background-image: url("Background/Space_1.png");
    background-repeat: repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: 60vw;

    opacity: 0.5;   z-index: -99998;    mix-blend-mode: screen;

    animation: _Animation_Background_Scroll 120s linear infinite;
}

._Background_Layer_2 {
    position: fixed;    top: 0; left: 0;
    width: 100%;    height: 100%;

    background-image: url("Background/Space_2.png");
    background-repeat: repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: 75vw;

    opacity: 0.25;  z-index: -99997;    mix-blend-mode: screen;
    animation: _Animation_Background_Scroll 360s linear infinite;
}

._Background_Layer_3 {
    position: fixed;    top: 0; left: 0;
    width: 100%;    height: 100%;

    background-image: url("Background/Space_2.png");
    background-repeat: repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: 20vw;

    opacity: 0.25;  z-index: -99996;    mix-blend-mode: screen;
}

@keyframes _Animation_Background_Scroll {
    from { background-position: 0 0; }
    to   { background-position: 384px 384px; }
}

/* ########################### */
/* UI Elements */
/* ########################### */

._UI_Elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Style dla okien */
._Window_Side {
    image-rendering: pixelated;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    position: absolute;
}

._UI_Elements img {
    position: absolute;
    image-rendering: pixelated;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

/* ########################### */
/* Info Window */
/* ########################### */

._Window_Info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    width: clamp(300px, 60vw, 500px);

    background:
        linear-gradient(black, black) padding-box,
        linear-gradient(90deg, #00ffff, #ff00ff, #ffff00) border-box;
    border: 1px solid transparent;
    box-shadow:
        0 0 0 1px black,
        0 0 0 2px white,
        0 0 0 4px black;

    font-family: "Comic Neue", cursive, "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

    position: relative;
}

@keyframes borderWave {
    0% {
        filter: hue-rotate(55deg);
        transform: perspective(500px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        filter: hue-rotate(169deg);
        transform: perspective(500px) rotateX(2deg) rotateY(-2deg);
    }
    100% {
        filter: hue-rotate(306deg);
        transform: perspective(500px) rotateX(0deg) rotateY(2deg);
    }
}

._Window_Info::after {
    content: "";
    position: absolute;
    top: -48px; left: -48px; right: -48px; bottom: -48px;
    z-index: -1;
    pointer-events: none;

    border: 48px solid transparent;
    border-image: url("Background/Border.png") 48 fill repeat;

    image-rendering: pixelated;
    border-radius: 20px;

    mix-blend-mode:color-dodge;
    
    animation: borderWave 100s ease-in-out infinite;
    transform-origin: center center;
}

._Window_Header
{
    display: flex;
    align-items: center;

    background-color: rgb(255, 255, 255);
    background-image: url("Background/Window_Bar_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;

    border: 1px solid rgb(0, 0, 0);

    padding: 4px 8px;
    height: 34px;

    position: relative;
    overflow: hidden;
}

._Window_Header_Icon
{
    margin-right: 4px;
    image-rendering: pixelated;

    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 1px black;
}

._Window_Header_Text
{
    padding: 4px 8px;
    font-size: 20px;
    color: rgb(255, 255, 255);

    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 1px black;
}

._Window_Header::after {
    content: "";
    position: absolute;

    top: 0; left: 100px;
    width: 100%; height: 100%;
    
    pointer-events: none;

    background: url("Background/Space_5.gif") repeat;
    background-size: cover;

    image-rendering: pixelated;
    mix-blend-mode:multiply;
    
    mask-image: linear-gradient(to right, transparent 0%, black 60%, black 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 60%, black 100%);

    opacity: 1;
    z-index: 2;
    
}

._Window_Layout
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    background-color: rgb(0, 0, 0);
}

._Window_Text
{
    font-size: 16px;
    color: rgb(255, 255, 255);
}

._Window_Image
{
    image-rendering: pixelated;
    object-fit: contain;
}

/* ########################### */
/* Mouse */
/* ########################### */

._Mouse_Stars
{
    position: fixed;

    width: 9px; height: 9px;

    pointer-events: none;

    opacity: 1;     z-index: 9999;      image-rendering: pixelated;
    animation: _Stars_Fall 1.5s ease-out forwards;

    mask-image: url("/Media/Icons/Star.png");
}

@keyframes _Stars_Fall {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(100px) scale(0);
    }
}

/* ########################### */
/* Main */
/* ########################### */

._Main_Container {
    margin: 0 auto;
    padding: 12px 0;
    max-width: 1080px;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
}

._Main_Banner
{
    padding-top: 24px;
    width: 100%;
    max-width: 1080px;
    height: auto;

    image-rendering: pixelated;
    margin-bottom: 24px;
}

._Main_Content {
    position: relative;
    padding: 0px 0px;
    margin-left: 24px;
    width: 100%;
    max-width: 1025px; /* 1080 - 24 * 2 - 4 - 3 */

    border: 1px solid transparent;
    box-shadow:
        0 0 0 1px black,
        0 0 0 2px white,
        0 0 0 4px black;

    font-family: "Comic Neue", cursive, "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: white;

    image-rendering: pixelated;
    z-index: 1;
}

._Main_Content::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    
    background:
      linear-gradient(rgba(18, 16, 28, 0.8), rgba(0, 0, 0, 0.8)) padding-box,
      url("/Media/Background/Space_4.gif") center padding-box,
      linear-gradient(black, black) padding-box,
      linear-gradient(90deg, #00ffff, #ff00ff, #ffff00) border-box;

    border: 1px solid transparent;
    opacity: 0.97;
}

._Main_Inner_Content {
    margin-left: 220px;
}


._Main_Panel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    width: 100%;
    max-width: 1080px;

    position: relative;

}

/* ########################### */
/* Side */
/* ########################### */

._Window_Side {
    position: absolute;
    left: max(-50px, 0vw);
    width: clamp(200px, 20vw, 220px);
    z-index: 10;
    opacity: 0.95;
    animation: circleFloat 45s steps(10) infinite;
    will-change: transform;
    image-rendering: pixelated;
}

@keyframes circleFloat {
    0%  { transform: translate(0px, 0px); }
    25% { transform: translate(10px, 10px); }
    50% { transform: translate(0px, 20px); }
    75% { transform: translate(-10px, 10px); }
    100% { transform: translate(0px, 0px); }
}
._Window_Side:hover {
    animation-play-state: paused;
}

._Window_Update { 
    
    top: 280px;
    animation-delay: -1500s;
}

._Window_Nav { 
    top: 580px;
    animation-delay: -1000s;
}

._Window_Senko { 
    top: 420px;
    left: min(900px, 80vw);
    animation-delay: -1200s;
}

._Nav_List {
    margin: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
}

._Nav_List li {
    display: flex;
    align-items: center;
    margin: 0 -16px 2px -16px;
    padding: 4px 16px;
    width: calc(clamp(200px, 20vw, 220px) - 32px);
    transition: all 0.3s ease-in-out;
}

._ListYellow {
    background-color: rgba(255, 255, 0, 0.05); 
}

._ListPink {
    background-color: rgb(255, 0, 255, 0.05); 
}

._ListCyan {
    background-color: rgb(0, 255, 255, 0.05); 
}

._Nav_List li:hover {
     background-color: rgb(255, 255, 255, 0.15);
}


@keyframes _AniRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

._Nav_Icon {
    width: 36px;
    padding-right: 8px;
    vertical-align: middle;
    image-rendering: pixelated;
    margin-right: 6px;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
    animation: _AniRot 30s linear infinite;
    animation-play-state: paused;
}

._Nav_List li:hover ._Nav_Icon {
    animation-play-state: running;
    transform: scale(1.3);
    image-rendering: pixelated;
}

/* hel nah, not workn */
@media (max-width: 600px), (pointer: coarse) {
  body, ._Window_Info, ._Main_Content {
    font-family: sans-serif !important;
  }
}