body
{
    margin: 0;
    padding: 0;

    background-color: black;
    color: rgb(255, 255, 255);

    overflow-x: hidden;
    position: relative;
}

/* ########################### */
/* Background Layers */
/* ########################### */

._Background_Layer_0
{
    position: fixed;    top: 0; left: 0;
    width: 100%;    height: 100%;

    background-image: url("Background/Space_0.png");
    background-repeat: repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: 50vw;

    z-index: -99999;    opacity: 0.5;

    animation: _Animation_Background_Scroll 240s linear infinite;
}

._Background_Layer_1 {
    position: fixed;    top: 0; left: 0;
    width: 100%;    height: 100%;

    background-image: url("Background/Space_1.png");
    background-repeat: repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: 60vw;

    opacity: 0.5;   z-index: -99998;    mix-blend-mode: screen;

    animation: _Animation_Background_Scroll 120s linear infinite;
}

._Background_Layer_2 {
    position: fixed;    top: 0; left: 0;
    width: 100%;    height: 100%;

    background-image: url("Background/Space_2.png");
    background-repeat: repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: 75vw;

    opacity: 0.25;  z-index: -99997;    mix-blend-mode: screen;
    animation: _Animation_Background_Scroll 360s linear infinite;
}

._Background_Layer_3 {
    position: fixed;    top: 0; left: 0;
    width: 100%;    height: 100%;

    background-image: url("Background/Space_2.png");
    background-repeat: repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: 20vw;

    opacity: 0.25;  z-index: -99996;    mix-blend-mode: screen;
}

@keyframes _Animation_Background_Scroll {
    from { background-position: 0 0; }
    to   { background-position: 384px 384px; }
}

/* ########################### */
/* Info Window */
/* ########################### */

._Window_Info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    width: clamp(300px, 60vw, 500px);

    background:
        linear-gradient(black, black) padding-box,
        linear-gradient(90deg, #00ffff, #ff00ff, #ffff00) border-box;
    border: 1px solid transparent;
    box-shadow:
        0 0 0 1px black,
        0 0 0 2px white,
        0 0 0 4px black;

    font-family: "Comic Neue", cursive, "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

    position: relative;
}

._Window_Info::after {
    content: "";
    position: absolute;
    top: -16px; left: -16px; right: -16px; bottom: -16px;
    z-index: -1;
    pointer-events: none;

    border: 16px solid transparent;
    border-image: url("Background/Shadow_Dither.png") 16 fill repeat;

    image-rendering: pixelated;
    border-radius: 20px;
}

._Window_Header
{
    display: flex;
    align-items: center;

    background-color: rgb(255, 255, 255);
    background-image: url("Background/Window_Bar_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;

    border: 1px solid rgb(0, 0, 0);

    padding: 4px 8px;
    height: 34px;

    position: relative;
    overflow: hidden;
}

._Window_Header_Icon
{
    margin-right: 4px;
    image-rendering: pixelated;

    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 1px black;
}

._Window_Header_Text
{
    padding: 4px 8px;
    font-size: 20px;
    color: rgb(255, 255, 255);

    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 1px black;
}

._Window_Header::after {
    content: "";
    position: absolute;

    top: 0; left: 100px;
    width: 100%; height: 100%;
    
    pointer-events: none;

    background: url("Background/Space_5.gif") repeat;
    background-size: cover;

    image-rendering: pixelated;
    mix-blend-mode:multiply;
    
    mask-image: linear-gradient(to right, transparent 0%, black 60%, black 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 60%, black 100%);

    opacity: 1;
    z-index: 2;
    
}

._Window_Layout
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    background-color: rgb(0, 0, 0);
}

._Window_Text
{
    font-size: 16px;
    color: rgb(255, 255, 255);
}

._Window_Image
{
    image-rendering: pixelated;
    object-fit: contain;
}

/* ########################### */
/* Mouse */
/* ########################### */

._Mouse_Stars
{
    position: fixed;

    width: 9px; height: 9px;

    pointer-events: none;

    opacity: 1;     z-index: 9999;      image-rendering: pixelated;
    animation: _Stars_Fall 1.5s ease-out forwards;

    mask-image: url("/Media/Icons/Star.png");
}

@keyframes _Stars_Fall {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(100px) scale(0);
    }
}

/* ########################### */
/* Main */
/* ########################### */

._Main_Container {
    margin: 0 auto;
    padding: 12px 0;
    max-width: 1080px;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
}

._Main_Banner
{
    padding-top: 24px;
    width: 100%;
    max-width: 1080px;
    height: auto;

    image-rendering: pixelated;
    margin-bottom: 24px;
}

._Main_Content
{
    padding: 0px 0px;
    margin-left: 24px;
    width: 100%;
    max-width: 1025px; /* 1080 - 24 * 2 - 4 - 3 */

    background:
     linear-gradient(#12101Ccc, #12101Ccc) padding-box,
        url("/Media/Background/Space_4.gif") padding-box,
        linear-gradient(black, black) padding-box,
        linear-gradient(90deg, #00ffff, #ff00ff, #ffff00) border-box;
    border: 1px solid transparent;
    box-shadow:
        0 0 0 1px black,
        0 0 0 2px white,
        0 0 0 4px black;

    font-family: "Comic Neue", cursive, "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;    color: white;

    image-rendering: pixelated
    
}

._Main_Inner_Content {
    margin-left: 220px;
}


._Main_Panel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    width: 100%;
    max-width: 1080px;

    position: relative;

}

/* ########################### */
/* Side */
/* ########################### */

._Window_Side {
    position: absolute;
    left: min(90px, 20%);
    width: clamp(200px, 20vw, 300px);
    z-index: 10;
    opacity: 0.95;
}

._Window_Update { top: 280px; }
._Window_Nav { top: 580px; }

._Nav_List {
    margin: 0;
    padding-left: 0;
    list-style: none;
    
}

._Nav_List li {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

._Nav_Icon {
    width: 36px;
    padding-right: 8px;
    vertical-align: middle;
    image-rendering: pixelated;
    margin-right: 6px;
}

