* {
  padding: 0px;
  margin: 0px;

  font-family: 'Calibri', sans-serif;

  /* disable antialiasing on font */
  font-smooth: never;
  -webkit-font-smoothing : none;
}

body {
    margin: 0;
    padding: 0;
    background-color: teal;
    color: white;
    
    display: flex;
    justify-content: center;

    min-height: 100vh;

    background-image: url(/media//ced4d1b1-e135-4bcb-9695-73427c2acacf.png);
    animation: scrollbg 30s linear infinite;

    background-size: 512px;
    background-repeat: repeat;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

    cursor: url('/media/cursor/black-xp.png'), auto;
}

@keyframes scrollbg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -896px; 
  }
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: separate;
    table-layout: fixed; 
    width: 100%;
    max-width: 1080px; 
}

th:nth-child(1), td:nth-child(1),
th:nth-child(3), td:nth-child(3) {
    width: 200px;
    padding-right: 24px;
    padding-left: 12px;
}

table tr:first-child th {
    height: 1px;
    padding-bottom: 0; 
}

table tr:nth-child(2) td {
    height: auto;         
    vertical-align: top;
}

@media (max-width: 800px) {
    
    body {
        align-items: flex-start;
        padding: 10px;
    }

    table, thead, tbody, tr, td, th {
        display: block;
        width: 100% !important;
        box-sizing: border-box;
    }

    td:empty, th:empty {
        display: none;
    }

    table {
        border-spacing: 0;
    }

    tr {
        margin-bottom: 20px; 
    }

    td, th {
        margin-bottom: 15px;
        height: auto !important;
    }

    .window-box {
        width: 100% !important;
        max-width: none !important;
    }

    header {
        width: 100%;
        text-align: center;
    }

    .list-button td {
      flex-wrap: wrap; 
    }
}

/*******************************************************************************/

header img {
  width: min(960px, 100%)
}


/*******************************************************************************
    
  A style based on "Windows 95 Recreation" created by Liam Reilly; it has been modified

  Copyright (c) 2026 by Liam Reilly (https://codepen.io/supember/pen/BKmgNZ)

  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

/*******************************************************************************/

button:focus {
  outline: none;
}

.window-box {
  background:
    linear-gradient(rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)),
    url("/media/26IG4T2VDVJORXUWRW2ZYH47QIHEVCHM.gif");

  border-color :#ffffff #000000 #000000 #ffffff;

  border-width: 1px;
  border-style: solid;
  position: relative;
  padding: 1px;
} 

.window-box::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  
  border: 1px solid;
  border-color: #7F7F7F #262626 #262626 #7F7F7F;
  
  pointer-events: none; 
}

div.window-title {
  height: 26px;
  width: calc(100% - 2px);
  color: #FFFFFF;
  border-color :#3F3F3F #3F3F3F #3F3F3F #3F3F3F;

  border-width: 1px;
  border-style: solid;

  box-shadow: 
      1px 1px 0 #262626,
      2px 2px 0 #000000;
}
.c0 {
  background: linear-gradient(45deg, #ff80ff, #ffea84);
}

.c1 {
  background: linear-gradient(45deg, #ffea84, #84ffe0);
}

.c2 {
  background: linear-gradient(45deg, #84ffe0, #af84ff);
}

.c3 {
  background: linear-gradient(45deg, #ff84d6, #9dff84);
}

.c4 {
  background: linear-gradient(45deg, #8eff84, #8c84ff);
}

img.window-title {
  margin:-12px 8px -12px 0;
  float:right;
  image-rendering: pixelated;
}

p.window-title {
  color: rgb(255, 255, 255);
  margin: 1px 0px 0px 8px;
  float: left;
  font-size: 14pt;

  background-color: black;
}

/*
p, h1, h2, h3, h4, h5, h6 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
}
*/

div.window-content {
  padding: 4px 2px 2px;
  height:100%;
  width:calc(100% - 4px);
  display:inline-block;
}

div.window-content p {
  font-size:14px;
  padding-left: 12px;
  padding-right: 12px;
}

div.window-content h1 {
  padding-bottom: 12px;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

i {
  color: rgb(180, 180, 180);
}

div.window-content a {
  color: rgb(253, 231, 102);
}


div.window-content button {
  font-family:"MS Sans Serif";
  font-size:11px;
  outline:1px solid #000000;
  background:#1f1f1f;
  border-width:1px;
  border-style:solid;
  border-color:#FFFFFF #3F3F3F #3F3F3F #FFFFFF;
  padding:4px 10px;
  display:block;
  position:relative;
  bottom:0px;
}

/* navigation */
div.window-content ul#navigation {
  list-style-position: inside;
  background: none;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

div.window-content ul#navigation li
{
  border-bottom: 1px solid #3F3F3F; 
  box-shadow: 0 1px 0 0 #7A7A7A; 
}

div.window-content ul#navigation li a {
    text-decoration: none;
}

div.window-content ul#navigation li a:hover {
    text-decoration:underline;
}

div.window-content ul#navigation li.notselected a:hover {
    background-color: black;
}


div.window-content ul#navigation li {
  padding: 5px 10px;
}

div.window-content ul#navigation li.notselected a {
    color: rgb(255, 255, 255);
}

div.window-content ul#navigation li.notselected {
  list-style-image: url("/media/window/icon/folder-closed.png");
  background: linear-gradient(90deg, #00000000, #5f5f5f);
}

div.window-content ul#navigation li.selected a {
  color: rgb(0, 0, 0);
}

div.window-content ul#navigation li.selected {
  list-style-image: url("/media/window/icon/folder-open.png");
  background: linear-gradient(45deg, #ff80ff, #ffea84);


  text-shadow: 2px 2px #ffffff;
  font-weight: bold;
}
/* ^^^ navigation //////////////////////////////////////////// */

/* list */
div.window-content ul#list {
  list-style-position: inside;
  background: none;
  list-style: none;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

div.window-content ul#list li
{
  border-bottom: 1px solid #3F3F3F; 
  box-shadow: 0 1px 0 0 #7A7A7A; 
  background: linear-gradient(90deg, #00000000, #5f5f5f);
  padding: 5px 10px;
}

div.window-content ul#list li a {
    text-decoration: none;
    color: rgb(0, 255, 234);
}

div.window-content ul#list li a:hover {
    text-decoration:underline;
    background-color: black;
    color: rgb(251, 255, 0);
}

div.window-content ul#list li img {
  min-width: 150%;
  transform: translate(-20px);
}

.list-img {
  width: 120px;
  max-width: 120px;
  white-space: nowrap;
}

.list-button td {
  display: flex;
  gap: 5px;
}

.list-button td button {
  margin-top: 5px;
}


@media (max-width: 1080px) {
  .list-img {
    display: none;
  }
}

/* ^^^ list //////////////////////////////////////////// */

div.window-content img
{
  max-width: 100%;
  height: auto;
}

div.window-content #info
{
  font-size:12px;
  padding: 6px;
}

#updates-container
{
  padding-top: 12px;
  padding-bottom: 12px;
}

div.window-content #clock
{
  font-size:12px;
  padding: 0px 6px 6px 6px;
}

div.window-content #switch_style
{
  font-size:12px;
  padding: 0px 6px 6px 6px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.center img {
  max-width: 100%;
  height: auto;
}

hr {
  opacity: 33%;
  margin: 4px;

}

#updates {
    max-height: 400px;
    overflow-y: auto;
    font-size: 0.9em;
}

.updates-post p {
    margin: 5px 0;
}

/*******************************************************************************

  Particle systems based on:
  www.balbooa.com/help/tutorials/coding/interactions/confetti-cursor-trail

*******************************************************************************/

.circles
{
    position: fixed;
    pointer-events: none;
    opacity: 1.0;
    transform: translateY(0);
    z-index: 99999;
}

  @keyframes fall {
    to {
      transform: translateY(var(--fall-distance)) scale(var(--scale));
      scale: var(0);
    }
  }
